@mixin button {
  box-sizing: border-box;
  border-radius: $base-border-radius;
  display: inline-block;
  font-weight: $font-weight-bold;
  padding: 0.75em 1.25em;
  text-align: center;

  &:hover {
    border-radius: $base-border-radius;
  }
}

@mixin button-filled($color) {
  @include button;
  background-color: $color;
  color: white;

  &:hover {
    background-color: darken($color, 10);
    color: white;
  }
}


@mixin button-outline($type: "darken", $font-color: $navy, $secondary-color:
transparent) {
  @include button;
  border: 2px solid $font-color;
  color: $font-color;

  @if $type == "fill" {

    &:hover {
      background-color: $font-color;
      border-color: $font-color;
      color: $secondary-color;
   }
  }

  @else if $type == "darken" {

    &:hover {
      background-color: $secondary-color;
      border-color: darken($font-color, 20);
      color: darken($font-color, 20);
    }
  }
}

