<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg width="288px" height="234px" viewBox="0 0 288 234" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
<title>speech bubble icon</title>
<defs></defs>
<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
<g id="speech-bubble-icon" sketch:type="MSArtboardGroup">
<g id="Icon-[Forum]-2" sketch:type="MSLayerGroup" transform="translate(3.000000, 2.000000)">
<g id="Speech-Bubble---Back" transform="translate(179.850467, 95.318182) scale(-1, 1) translate(-179.850467, -95.318182) translate(76.700935, 0.000000)" fill="#FDE9B8" sketch:type="MSShapeGroup">
<path d="M60.6618396,161.891002 L60.7777507,189.32165 L87.2371042,161.891002 L198.233088,161.891002 C202.718236,161.891002 206.354167,158.263469 206.354167,153.779655 L206.354167,8.1113462 C206.354167,3.63157339 202.717883,0 198.233088,0 L8.12107875,0 C3.6359308,0 0,3.62753228 0,8.1113462 L0,153.779655 C0,158.259428 3.63628349,161.891002 8.12107875,161.891002 L60.6618396,161.891002 Z" id="Path-9"></path>
</g>
<g id="Speech-Bubble---Top" transform="translate(0.000000, 103.261364)" fill="#ECC561" sketch:type="MSShapeGroup">
<path d="M51.9958625,105.712963 L52.0952148,127.854592 L74.7746608,105.712963 L170.370157,105.712963 C173.970781,105.712963 176.875,102.805808 176.875,99.2196516 L176.875,6.49331136 C176.875,2.90998673 173.962683,0 170.370157,0 L6.50484308,0 C2.90421898,0 0,2.90715452 0,6.49331136 L0,99.2196516 C0,102.802976 2.91231745,105.712963 6.50484308,105.712963 L51.9958625,105.712963 Z" id="Path-9"></path>
</g>
</g>
</g>
</g>
</svg>
