#header {
  background: $light-brown;
  border-bottom: 1px solid darken($light-brown, 5%);
  margin: 0 0 50px 0;
  color: $mid-brown;
  h1 {
    position: absolute;
    left: 0;
    bottom: -35px;
  }
  p {
    @include span-columns(10);
    @include push(6);
    font-family: $display-monospace-font-family;
    margin-top: 14px;
    margin-bottom: 14px;
    font-size: 18px;
  }
  .container {
    overflow: visible;
  }
  .toc-nav-link {
    display: none;
  }
  #search {
    @include span-columns(7);
    text-align: right;
    margin-top: 9px;
  }
}

#toc {
  @include span-columns(5);
  margin-top: 15px;
  div:first-child h3{
    margin-top: 0; 
  }
  footer {
    margin: 20px 0;
  }
}

#main {
  @include span-columns(13);
  @include squish(1,1);
  h1:first-child {
    line-height: 1;
    font-weight: bold;
  }
  h2,
  h3 {
    margin-top: 1em;
  }
  pre {
    background: #F8F8F8;
    @include box-shadow( 0 1px 1px darken(#c6bda8, 15) inset, 0 1px 0 white);
    padding: 0.5em 1em;
    margin: 1.5em 0;
    overflow: auto;
    @include border-radius(4px); 
  }
  footer {
    border-top: 1px solid #c6bda8;
    background: #c6bda8;
    padding: 1em 10px;
    @include clearfix;
    p {
      margin: 0;
      &.left {
        @include float-left; 
      }
      &.right {
        @include float-right; 
      }
    }
  }
}

#generated-toc {
  margin-bottom: 1.5em;

  ul {
    margin: 0;
    padding: 0 0 0 1.5em;
  }
}