.browser {
  text-align: left;
}

.browser:before {
  @include size(100% em(32));
  background: $browser-bar-color image-url("browser-bar-button-set.svg") no-repeat 0.66em 0.66em;
  border-radius: $base-border-radius $base-border-radius 0 0;
  content: "";
  display: block;
}

.browser-body {
  background: $browser-body-color;
  font-weight: 700;
  padding: 1em;
}
