#hero {
  padding: 50px 0 30px 0;
  border-bottom: 1px solid darken($light-brown, 5%);
  background: $light-brown inline-image("header.bg.png") no-repeat center top;
  h1 {
    width: 225px;
    margin: 0 auto 0 auto;
  }
  h2 {
    font-size: 36px;
    font-family: $display-font-family;
    text-shadow: 0 0 10px #fff;
    margin: 30px 0 30px 0;
  }
  text-align: center;
}

#install {
  text-align: center;
  margin: -15px 0 40px 0;
  p{
    display: inline-block;
    color: #F1E7D6;
    @include border-radius( 5px );
    padding: 15px 25px;
    background-color: $mid-brown;
    @include box-shadow( 0 0 4px 1px rgba(#fff, 0.7), 0 1px 4px 0 $dark-brown inset );
  }
  b {
    font-size: 24px;
  }
}
  
.intro {
  color: $mid-brown;
  font-size: 15px;
  margin: 10px auto;
  text-align: center;
}

.sns {
  a {
    color: inherit;
    @include hover_link;
    &:hover {
      color: inherit;
    }
  }
  span {
    margin: 0 10px;
  }
}


.grid {
  @include span-columns(20);
  @include pie-clearfix;
  .toc-block {
    @include span-columns(4,12);
    @include nth-omega(3n);
    &:nth-child(3n+1) {
      clear: left;
    }
    padding: 1em 0;
  }
}