nav {

  h3 {
    margin: 1.5em 0 0.3em;
    font-weight: bold;
  }

  ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    
    li {
      font-size: 15px;
      line-height: 1.3;
      padding: 6px 0 6px 12px;
      border-left: 2px solid #E3D6C0;

      &:hover {

        border-left: 2px solid #002B36;

      }

      a {
        text-decoration: none;
        display: block;
      }
    }
  }
  
  p {
    margin: 0 0 0.5em;
    color: darken(#C8BCA9, 40%);
  }
}
