/*          Print Styles
--------------------------------------------------- */

@media print {

    #toc,
    #support,
    p.console {
        display    : none;
        visibility : hidden;
    }

    #main
    {
        width        : 100%;
        float        : none;
        margin       : 0;
        padding      : 0;
        display      : block;
    }

}
