#support {
  background: $light-brown;
  border: 1px solid darken($light-brown, 5%);
  @include border-radius(3px);
  @include box-sizing( border-box );
  @include span-columns(4);
  @include omega;
  margin-top: 2em;

  h4 {
	  margin-bottom: 0.5em;
  }
  .donate{
  	padding: 1em 1em 0 1em;
  	@include box-sizing( border-box );
  	p { margin: 0; }
  }

  .sponsor{
  	padding: 1em 0 0 0;
  	h4 {
	  	padding: 0 1em;
  	}
  	@include box-sizing( border-box );
  	img {
  		margin-bottom: 5px;
  	}
  	a {
  		padding: 1em;
	  	display: block;
	  	font-weight: bold;
	  	text-decoration: none;
	  	line-height: 1.2;
	  	&#max {
	  		img { margin-bottom: 0; }
	  	}
		@include transition;
		&:hover {
			background: $xlight-brown;
		}
  	}
  }

	.one {
		.bsa_it_ad {
			background: transparent;
			border: none;
			font-family: inherit;
			padding: 1em;
			margin: 0;
			@include transition;
			&:hover {
				background: $xlight-brown;
			}
			&.bsa_it_i {
				display: block;
				padding: 0;
				float: none;
				margin: 0 0 5px 0;
				& img {
					max-width: 100%;
					padding: 0;
					border: none;
				}
			}
			&.bsa_it_t {
				// padding: 6px 0;
			}
			&.bsa_it_d {
				padding: 0;
				font-size: 12px;
				color: #333;
			}
		}
		.bsa_it_p {
			display: none;
		}
	}

	#bsap_aplink,
	#bsap_aplink:hover {
		display: block;
		font-size: 10px;
		margin: 12px 15px 0;
		text-align: right;
	}

}