@import "compass"
@import "blueprint"

$blueprint-font-size: 14px
+blueprint-typography

body
  text-rendering: optimizeLegibility
  
#frame
  +container

.container
  +clearfix

header
  border-bottom: 1px solid #ccc
  h1
    margin-bottom: 0
  h2
    margin-top: 0

#main
  +column(16)
  +append(1)
  -webkit-hyphens: auto
  pre
    border-left: 2px solid #ccc
    padding-left: 1em

aside
  +column(7, true)

footer
  border-top: 1px solid #ccc
  padding: 1em 0
