@import "compass"
@import "blueprint"

$link-color: #002b36
$link-visited-color: $link-color
$link-hover-color: $link-color
$link-focus-color: $link-color
$link-active-color: $link-color

$blueprint-font-size: 14px
+blueprint-typography

body
  text-rendering: optimizeLegibility
  background: #efe8d5
  
#frame
  +container

.container
  +clearfix

header
  border-bottom: 1px solid #ccc
  h1
    text-align: center
    margin-bottom: 0
  h4
    text-align: center
    margin-top: 0

#main
  +column(17, true)

pre
  background: #F8F8F8
  border-left: 2px solid #ccc
  padding: 0.5em 1em
  margin: 1.5em 0

aside
  +column-base
  width: 225px
  +append(1)
  h1
    +replace-text-with-dimensions("mm-blue-w-text.png")

footer
  border-top: 1px solid #ccc
  padding: 1em 0
