@import "compass";

$link-color: #002b36;
$link-visited-color: $link-color;
$link-hover-color:   $link-color;
$link-focus-color:   $link-color;
$link-active-color:  $link-color;

$blueprint-font-size: 14px;
$blueprint-grid-columns: 22;

@import "blueprint";
@include blueprint-typography;

tt {
  font-size: .95em;
  background: #F8F8F8;
  @include border-radius(4px);
  @include box-shadow(#A89A7A 0 1px 1px inset, white 0 1px 0);
  padding: 2px 4px; }
  
body {
  text-rendering: optimizeLegibility;
  background: #efe8d5;
  margin: 0; }
  
#frame {
  @include container; }

.container {
  @include pie-clearfix;
  position: relative; }

aside {
  width: 225px;
  float: left;
  display: inline;
  top: 0;
  header {
    margin-bottom: 10px;
    h1 {
      margin: 20px 0 0 0;
      a {
        display: block;
        @include hide-text;
        width: image-width("mm-blue-w-text.png");
        height: image-height("mm-blue-w-text.png");
        background: inline-image("mm-blue-w-text.png") no-repeat;
        @include border-radius(4px); }
    }
    h4 {
      display: none;
      text-align: center;
      font-size: 13px;
      line-height: 30px;
      margin: 0; }
  }
  nav {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        font-size: 13px;
        line-height: 1.3;
        margin: 0 0 6px 0;
        h6 {
          margin-top: 1.5em;
          margin-bottom: 0.75em;
        }
        a {
          text-decoration: none; }
        ul {
          list-style-type: disc;
          padding: 0 0 0 1.5em;
        }
      }
    }
  }
  footer {
    margin: 20px 0;
  }
}
    
#main {
  @include column(15, true);
  float: right;
  h1:first-child {
    margin-top: 14px; }
  pre {
    background: #F8F8F8;
    @include box-shadow(darken(#c6bda8, 15) 0 1px 1px inset, white 0 1px 0);
    padding: 0.5em 1em;
    margin: 1.5em 0;
    overflow: auto;
    @include border-radius(4px); }
  footer {
    border-top: 1px solid #c6bda8;
    background: #c6bda8;
    padding: 1em 10px;
    @include clearfix;
    p {
      margin: 0;
      &.left {
        @include float-left; }
      &.right {
        @include float-right; }
    }
  }
}

footer {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  font-size: 10px;
}

.tutorials {
  @include pie-clearfix;
  .block {
    @include column(7);
    &:nth-child(even) {
      @include prepend(1);
      @include column(7, true);
    }
    &:nth-child(odd) {
      clear: left;
    }
    h3 {
      margin-bottom: 0.1em;
    }
    p {
      margin-bottom: 0.5em;
    }
    ul {
    }
  }
}