@import "compass";
@import "compass/reset";
@import "blueprint";

@import "icon";
@import "base";
@import "layout";
@import "nav";
@import "index";

@import "solarized_light";

$link-color: #002b36;
$link-visited-color: $link-color;
$link-hover-color:   $link-color;
$link-focus-color:   $link-color;
$link-active-color:  $link-color;

$blueprint-font-size: 14px;
$blueprint-grid-columns: 24;

@include blueprint-typography;

  
