/******************************************************************************
 Mint CSS for IE PC

 Copyright 2004-2011 Shaun Inman. This code cannot be redistributed without
 permission from http://www.shauninman.com/

 More info at: http://www.haveamint.com/
 
******************************************************************************
CURE ALL
-----------------------------------------------------------------------------*/
#header,
#preferences,
#preferences h2,
#preferences ul,
.content-container
{
	height: 1%;
}

#header-container
{
	position: absolute;
	background-image: none !important;
}

.display ul.tabs
{
	right: 2px;
}

ul.tabs li,
ul.filters li,
.uninstall label
{
	white-space: nowrap;
}

ul.tabs li,
ul.filters li,
.display .pane,
#preferences form,
#preferences .mint-column,
#preferences .pane-column,
#preferences .pepper-column
{
	display: inline;
}

#preferences form
{
	float: left;
}

#preferences ul
{
	padding-bottom: 5px;
}

ul.filters
{
	padding-top: 5px;
}

dl.sortable dd
{
	height: 1%;
}

.hide-from-ie
{
	display: none;
}

/*
----------------------------------------------------------------------------- 
SINGLE COLUMN
-----------------------------------------------------------------------------*/
#single-column
{
	height: 1%;
	margin-top: -54px;
}
#single-column .pane
{
	float: left;
}

#single-column #header-container
{
	position: static;
}

.display #single-column ul.tabs
{
	right: 3px;
}

/*
----------------------------------------------------------------------------- 
GRAPH TABLE
-----------------------------------------------------------------------------*/

.content .graph
{
	position: relative;
	height: 1%;
	clear: left;
}

.graph .bar
{
	margin-top: -5px;
}

.graph .label
{
	top: 5px;
}

.graph .bar .total
{
	position: relative;
	top: 5px;
}

.graph .bar span
{
	overflow: hidden;
}

.graph .bar .unique span.equal
{
	background-position: 0 -1px;
}

/*
----------------------------------------------------------------------------- 
COMPARISON GRAPH
-----------------------------------------------------------------------------*/
.compare-graph .label
{
	top: 0;
}

/*
----------------------------------------------------------------------------- 
FORM
-----------------------------------------------------------------------------*/
.mini form th
{
	width: 1%;
}

.login form td,
#activation_form td
{
	width: 100%;
}

form span
{
	padding: 0 1px;
}

span.inline
{
	display: inline;
}
