<div class="toc-block">
  <h3>Middleman Basics</h3>
  <ul>
      <li><a href="/basics/getting-started/">Getting Started</a></li>
      <li><a href="/basics/templates/">Templates</a></li>
      <li><a href="/basics/helpers/">Template Helpers</a></li>
      <li><a href="/basics/frontmatter/">Frontmatter</a></li>
      <li><a href="/basics/dynamic-pages/">Dynamic Pages</a></li>
      <li><a href="/basics/asset-pipeline/">Asset Pipeline</a></li>
      <li><a href="/basics/pretty-urls/">Pretty URLs (Directory Indexes)</a></li>
      <li><a href="/basics/livereload/">LiveReload</a></li>
      <li><a href="/basics/blogging/">Blogging</a></li>
  </ul>
</div>

<div class="toc-block">
  <h3>Advanced Features</h3>
  <ul>
      <li><a href="/advanced/configuration/">Configuring Your Site</a></li>
      <li><a href="/advanced/local-data/">Local Data</a></li>
      <li><a href="/advanced/localization/">Localization (i18n)</a></li>
      <li><a href="/advanced/sitemap/">The Sitemap</a></li>
      <li><a href="/advanced/rack-middleware/">Rack Middleware</a></li>
      <li><a href="/advanced/custom/">Custom Extensions</a></li>
      <li><a href="/advanced/file-size-optimization/">File Size Optimization</a></li>
      <li><a href="/advanced/improving-cacheability/">Improving Cacheability</a></li>
  </ul>
</div>

<div class="toc-block">
  <h3>Community</h3>
  <ul>
      <li><a href="http://directory.middlemanapp.com/#/extensions/all">Extensions</a></li>
      <li><a href="http://directory.middlemanapp.com/#/templates/all">Project Templates</a></li>
      <li><a href="http://directory.middlemanapp.com/#/extensions/deployment">Deployment Solutions</a></li>
      <li><a href="http://forum.middlemanapp.com/" target="_blank">Community Forum</a></li>
      <li><a href="https://github.com/middleman/middleman" target="_blank">GitHub Repository</a></li>
      <li><a href="/community/built-using-middleman/">Sites Built Using Middleman</a></li>
  </ul>
</div>