<li>
  <%= link_to site.title || site.url, site.url, class: "built-with-middleman-link" %>
  <% if site.source %>
    <%= link_to t("built.source_code"), site.source, class: "source-code-link" %>
  <% end %>
</li>
