<div id="support">
  <!-- BuySellAds Zone Code -->
  <div id="bsap_1280677" class="bsarocks bsap_989fc05e297a314a92ad3f33cef85fd4"></div>
  <!-- End BuySellAds Zone Code -->

  <div class="sponsor">
    <h4>Sponsors</h4>

    <a href="http://fjords.cc" target="_blank">
      <%= image_tag "fjords.jpg" %>
      <span>Fjords: Simple Middleman Hosting &amp; Preview URLs</span>
    </a>

    <a href="http://www.maxcdn.com" target="_blank" id="max">
      <%= image_tag "maxcdn.svg", :width => "130" %>
    </a>
  </div>

  <div class="donate">
    <script data-gittip-username="tdreyno"
        src="//gttp.co/v1.js"></script>
    <p><br><a href="https://spb.io/s/4dXbHBorC3" target="_blank" class="sbe-button">Donate!</a><br><br></p>
  </div>
</div>