<div id="support">
  <script type="text/javascript" src="http://cdn.adpacks.com/adpacks.js?legacyid=1280677&zoneid=1386&key=989fc05e297a314a92ad3f33cef85fd4&serve=C6SI42Y&placement=middlemanappcom&circle=dev" id="_adpacks_js"></script>
</div>
