<% wrap_layout :layout do %>

  <%= partial 'partials/site_nav' %>

  <nav class="docs-nav" role="navigation">
    <%= partial 'partials/docs-nav' %>
  </nav>

  <main class="screen-main" role="main">
    <%= yield %>
  </main>

<% end %>
