<% wrap_layout :layout do %>
  <header id="header">
    <div class="container">
      <h1><%= link_to image_tag("mm-blue-w-text.svg", :width => 225, :height => 225, :alt => "Middleman"), "/", { :class => 'logo' } %></h1>
      <p class="console">$ gem install middleman</p>
    </div>
  </header>

  <div class="container">
    <nav id="tos">
      <%= partial 'layouts/nav' %>
    </nav>
    
    <article id="main" role="main">
      <%= yield %>
    </article>
  </div>
<% end %>