<% wrap_layout :layout do %>
  <%= partial "partials/global_navigation" %>

  <div class="search">
    <%= partial "partials/docsearch" %>
  </div>

  <div class="body-content-container wrap-container" role="main">
    <nav id="toc" class="sidebar" data-waypoint="sidebar">
      <%= partial 'partials/documentation_nav' %>
    </nav>

    <main class="main" role="main" data-waypoint="main">
      <%= yield %>
    </main>
  </div>
<% end %>
