<% wrap_layout :layout do %>
  <header id="header">
    <%= partial 'partials/global_nav' %>
  </header>

  <div class="container">
    <nav id="toc">
      <%= partial 'layouts/documentation_nav' %>
    </nav>

    <main class="main" role="main">
      <%= yield %>
    </main>
  </div>
<% end %>
