<% wrap_layout :core do %>
  <div class="c-site-frame">
    <%= partial "partials/site_navigation" %>
    <%= partial "partials/hero" %>

    <main class="c-site-frame__body" role="main">
      <%= yield %>
    </main>

    <%= partial "partials/site_footer" %>
  </div>
<% end %>
