<% wrap_layout :base do %>
    <header id="header">
      <h1><%= link_to "Middleman", "/", {class: 'logo'} %></h1>
      <h2>makes developing websites simple</h2>
    </header>

    <section role="main">
      <%= yield %>
      
    </section>

<% end %>