<% wrap_layout :base do %>
  <div class="container">
    <aside>
      <header>
        <h1><%= link_to "Middleman", "/", {class: 'logo'} %></h1>
        <h4>Hand-crafted frontend development</h4>
      </header>

      <nav>
         <%= partial 'layouts/nav' %>
      </nav>
      
      <footer>
        <a href="http://www.pledgie.com/campaigns/15807">
          <img src="http://www.pledgie.com/campaigns/15807.png" alt="Click here to lend your support to Middleman">
        </a>
      </footer>
    </aside>
          
    <article id="main" role="main">
      <%= yield %>
    </article>

  </div>
<% end %>