.hero {
  background: $base-hero-color;
  text-align: center;
}

.hero-content-logo {
  display: none;

  @include media($medium-screen-up){
    display: block;
  }
}

.hero-content-logo img {
  @include size(em(300));
}

.hero-headline {
  color: rgba(black, 0.5);
  font-size: $base-font-size * 1.8;
  margin-bottom: 0.5em;
}

.hero-description {
  color: white;
  font-size: $base-font-size;
  display: inline-block;
  margin: 0 0 2.5em;

  &:not(:last-child) {
    margin-right: 1.5em;
  }

  @include media($medium-screen-up) {
    font-size: $base-font-size * 1.25;
  }
}

.hero-banner-container {
  .browser {
    @include fill-parent;

    @include media($medium-screen-up) {
      @include span-columns(8 of 12);
      @include shift(2);
    }
  }
}
