<form action="javascript:void(0);" novalidate="novalidate" class="searchbox">
  <div class='searchbox__wrapper' role='search'>
    <input autocomplete='off' class='searchbox__input' id='search-input' name='search' placeholder='Search in the documentation' required='required' type='search'>
    <div class='searchbox__submit'>
      <svg aria-label='Search' role='img'>
        <use xlink:href='#sbx-icon-search-21' xmlns:xlink='http://www.w3.org/1999/xlink'></use>
      </svg>
    </div>
    <button class='searchbox__reset' title='Clear the search query.' type='reset'>
      <svg aria-label='Reset' role='img'>
        <use xlink:href='#sbx-icon-clear-1' xmlns:xlink='http://www.w3.org/1999/xlink'></use>
      </svg>
    </button>
  </div>
</form>

<svg style='display:none' xmlns='http://www.w3.org/2000/svg'>
  <symbol id='sbx-icon-search-21' viewBox='0 0 41 40' xmlns='http://www.w3.org/2000/svg'>
    <path d='M27.737 26.49l.017.015 12.15 12.15c.305.305.305.8-.005 1.11-.308.307-.81.303-1.11.004L26.668 27.645c-2.83 2.78-6.68 4.487-10.918 4.487C7.052 32.133 0 24.94 0 16.066 0 7.193 7.052 0 15.75 0c8.7 0 15.75 7.193 15.75 16.066 0 3.978-1.416 7.617-3.763 10.423zM15.75 30.525c7.83 0 14.175-6.474 14.175-14.46 0-7.985-6.346-14.46-14.175-14.46-7.83 0-14.175 6.475-14.175 14.46 0 7.986 6.346 14.46 14.175 14.46zm0-26.51c-6.524 0-11.812 5.395-11.812 12.05 0 .444.352.804.787.804.435 0 .788-.36.788-.804 0-5.767 4.583-10.443 10.237-10.443.435 0 .788-.36.788-.803 0-.444-.353-.803-.788-.803z' fill-rule='evenodd'>
  </symbol>
  <symbol id='sbx-icon-clear-1' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'>
    <path d='M9.408 10L.296.888 0 .592.592 0l.296.296L10 9.408 19.112.296 19.408 0 20 .592l-.296.296L10.592 10l9.112 9.112.296.296-.592.592-.296-.296L10 10.592.888 19.704.592 20 0 19.408l.296-.296L9.408 10z' fill-rule='evenodd'>
  </symbol>
</svg>
