<header class="hero" role="banner">
  <section class="wrap-container">
    <%= link_to image_tag("middleman-logo.svg"), "#{locale_prefix}/",
      class: "hero-content-logo" %>
    <h2 class="hero-headline"><%= t("index.headline") %></h2>
    <h3 class="hero-description"><%= t("index.description") %></h3>

    <div class="hero-banner-container">
      <div class="browser">
        <pre class="browser-body">
          <code class="browser-code"><span class="variable">$</span> <span class="identifier">gem install middleman</span></code>
        </pre>
        <a class="badge" href="https://badge.fury.io/rb/middleman" target="_blank"><img src="https://badge.fury.io/rb/middleman.svg" alt="Gem Version" height="18"></a>
      </div>
    </div>
  </section>
</header>
