<header class="hero" role="banner">
  <section class="wrap-container">
    <%= link_to image_tag("middleman-logo.svg", { alt: t("index.logo_alt") }), "#{locale_prefix}/",
      class: "hero-content-logo" %>
    <h1 class="hero-headline"><%= t("index.headline") %></h1>
    <p class="hero-description"><%= t("index.description") %></p>

    <div class="hero-banner-container">
      <div class="browser">
        <pre class="browser-body">
          <code class="browser-code"><span class="variable">$</span> <span class="identifier">gem install middleman</span></code>
        </pre>

        <%= link_to(
          "Current version: #{data.gem_info.version}",
          data.gem_info.project_uri,
          class: "version-number",
          target: "_blank"
        ) %>
      </div>
    </div>
  </section>
</header>
