<nav class="site-nav" role="navigation">
  <div class="container">
    <%= link_to t("title"), "#{locale_prefix}/", class: "site-title" %>
    <ol class="site-nav-list">
      <li class="site-nav-item">
        <%= link_to t("navigation.community"),
          "#{locale_prefix}/community/" %>
      </li>
      <li class="site-nav-item">
        <%= link_to t("navigation.docs"),
          "#{locale_prefix}/basics/install/" %>
      </li>
    </ol>
  </div>
</nav>
