<section class="example-sites">
  <div class="container">
    <h4 class="example-sites-title">
      Sites that use Middleman
    </h4>
    <div class="example-site-item">
      <a href="http://getflow.com" target="_blank">
        <%= image_tag "example-flow.png",
          class: "example-site-screenshot" %>
      </a>
      <div class="example-site-description">
        <h5 class="example-site-name">Flow</h5>
      </div>
    </div>
    <div class="example-site-item">
      <a href="http://mailchimp.com" target="_blank">
        <%= image_tag "example-mailchimp.png",
          class: "example-site-screenshot" %>
      </a>
      <div class="example-site-description">
        <h5 class="example-site-name">Mailchimp</h5>
      </div>
    </div>
    <div class="example-site-item">
      <a href="http://robots.thoughtbot.com" target="_blank">
        <%= image_tag "example-thoughtbot.png",
          class: "example-site-screenshot" %>
      </a>
      <div class="example-site-description">
        <h5 class="example-site-name">
          Giant Robots <br> Smashing into Other Giant Robots
        </h5>
      </div>
    </div>
  </div>
</section>
