#{$all-buttons},
.button {
  @include appearance(none);
  background-color: $mm-teal;
  border-radius: $base-border-radius;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: modular-scale(-1);
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  letter-spacing: 0.05em;
  line-height: 1;
  padding: $small-spacing $base-spacing;
  text-decoration: none;
  transition: background-color 100ms ease-out;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: shade($mm-teal, 15%);
    color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
