.c-site-navigation {
  background-color: $mm-yellow;
  font-weight: $font-weight-semibold;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  padding: 1rem;

  a {
    color: $base-font-color;

    &:hover {
      opacity: 0.75;
    }
  }
}

.c-site-navigation__site-name {
  display: inline-block;
  font-weight: $font-weight-bold;
}

.c-site-navigation__item {
  margin-left: 1rem;

  &:first-child {
    margin-left: 0;
    margin-right: auto;
  }
}
