.docs .container {
  display: flex;
}

.docs-article {
  h1:first-of-type {
    margin-top: 0;
  }
}

.docs-nav {
  margin-right: $base-spacing * 2;
  min-width: 25%;

  a {
    color: tint($base-font-color, 25%);
    text-decoration: none;
  }
}

.docs-nav-section:not(:last-of-type) {
  margin-bottom: $base-spacing * 2;
}

.docs-nav-list {
  list-style-type: none;
  padding: 0;
}

.docs-nav-heading {
  border-bottom: $base-border;
  font-size: modular-scale(-1);
  letter-spacing: 0.05em;
  margin: 0 0 ($small-spacing / 2);
  padding-bottom: $small-spacing / 2;
  text-transform: uppercase;
}

.docs-nav-item {
  font-size: modular-scale(-1);
}
