@import "neat-helpers"; // or "../neat/neat-helpers" when not in Rails

// Neat Overrides
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
// $max-width: em(1088);

// Neat Breakpoints
$medium-screen: em(640);
$large-screen: em(860);

$medium-screen-up: new-breakpoint(min-width $medium-screen 4);
$large-screen-up: new-breakpoint(min-width $large-screen 8);
$larger-screen-up: new-breakpoint(min-width em(1440));

// Layout Variables
$medium-main-content-width: em(400);
$medium-sidebar-width: em(160);

$large-sidebar-width: em(200);
$large-main-content-width: em(600);

$larger-sidebar-width: em(200);
$larger-main-content-width: em(740);
