ul,
ol {
  margin: 0 0 ($base-spacing / 1.5);
  padding-left: $base-spacing / 1.25;

  li {
    padding-bottom: $base-spacing * 0.1;
    padding-top: $base-spacing * 0.1;
  }
}

dl {
  margin: 0 0 ($base-spacing / 1.5);

  dt {
    font-weight: bold;
    margin-top: $base-spacing / 2;
  }

  dd {
    margin: 0;
  }
}
