ul,
ol {
  margin: 0 0 ($base-spacing / 1.5);
  padding: 0;

  li {
    padding-bottom: $small-spacing * 0.4;
    padding-top: $small-spacing * 0.4;
  }
}

dl {
  margin: 0 0 ($base-spacing / 1.5);

  dt {
    font-weight: bold;
    margin-top: $base-spacing / 2;
  }

  dd {
    margin: 0;
  }
}
