body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-feature-settings: "kern", "liga", "pnum";
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  line-height: $base-line-height;

  @media screen and (min-width: $medium-screen) {
    font-size: $base-font-size * 1.0625;
  }

  @media screen and (min-width: $large-screen) {
    font-size: $base-font-size * 1.1875;
  }

  @media screen and (min-width: $extra-large-screen) {
    font-size: $base-font-size * 1.3125;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: shade($base-font-color, 30%);
  font-family: $heading-font-family;
  font-weight: 400;
  line-height: $heading-line-height;
  margin: ($base-spacing * 1.5) 0 $small-spacing;
}

h1 {
  font-size: modular-scale(5);
}

h2 {
  font-size: modular-scale(3);
}

h3 {
  font-size: modular-scale(2);
}

h4,
h5,
h6 {
  font-size: modular-scale(1);
}

p {
  margin: 0 0 $base-spacing;
}

a {
  color: $base-font-color;
  transition: color 0.1s ease-out;

  &:active,
  &:focus,
  &:hover {
    color: shade($action-color, 5%);
  }

  &:active,
  &:focus {
    outline: none;
  }
}

hr {
  border-bottom: $base-border;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-spacing 0;
}

figure {
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

code {
  background-color: tint($secondary-background-color, 50%);
  border: $base-border;
  border-radius: $base-border-radius;
  font-family: $code-font-family;
  font-size: modular-scale(-1);
  margin: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 0.08em 0.25em;
}

pre {
  margin: 0 0 $base-spacing;
  padding: 0;

  code {
    margin: 0;
    padding: ($base-spacing / 1.5) $base-spacing;
  }
}

::selection {
  background-color: $mm-yellow;
  color: #fff;
}
