// Typography
$base-font-family: $helvetica;
$heading-font-family: $base-font-family;
$code-font-family: "Source Code Pro", $monospace;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

// Middleman colors
$mm-yellow: #f3c859;
$mm-navy: #446184;
$mm-slate-gray: #8990a1;
$mm-light-gray: #c0c0c0;
$mm-blue: #4280ca;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $mm-yellow;

// Backgrounds
$base-background-color: #fff;
$secondary-background-color: $mm-light-gray;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow-focus: 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
