// Project Settings
$prefix-for-webkit:    false;
$prefix-for-mozilla:   false;
$prefix-for-microsoft: false;
$prefix-for-opera:     false;
$prefix-for-spec:      false;

// Typography
$sans-serif: "Lato", $helvetica;
$monospace-font-family: "Source Code Pro", $monospace;

$base-font-family: $sans-serif;
$header-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;
$h1-font-size: $base-font-size * 2.2;
$h2-font-size: $base-font-size * 1.6;
$h3-font-size: $base-font-size * 1.3;
$h4-font-size: $base-font-size * 1.25;
$h5-font-size: $base-font-size * 1.15;
$h6-font-size: $base-font-size;

// Font Weights
$font-weight-bold: 700;
$font-weight-normal: 400;

// Line height
$base-line-height: 1.5;
$header-line-height: 1.25;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$base-z-index: 0;

// Colors
$dark-gray: #4a4e56;
$medium-gray: #999;

// Middleman colors
$mm-yellow: #f3c859;
$mm-navy: #446184;
$mm-slate-gray: #8990a1;
$mm-light-gray: #c0c0c0;
$mm-blue: #4280ca;

// Font Colors
$base-font-color: darken($mm-slate-gray, 8%);
$base-accent-color: $mm-yellow;
$header-font-color: $dark-gray;
$secondary-accent-color: $mm-blue;

// Background Color
$base-background-color: #fff;
$base-hero-color: $base-accent-color;

// Link Colors
$base-link-color: $secondary-accent-color;
$hover-link-color: darken($base-link-color, 15%);
$base-button-color: $base-link-color;
$hover-button-color: $hover-link-color;

// Border color
$base-border-color: lighten($mm-light-gray, 60%);
$base-border: 1px solid $base-border-color;

// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10%);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px rgba($mm-slate-gray,0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5%), 0.7);
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;

// Browser Colors
$browser-bar-color: #dedede;
$browser-body-color: $dark-gray;

// Global Nav Variables
$global-nav-height: em(64);
$global-nav-link-color: #fff;
$global-nav-link-hover-color: rgba($global-nav-link-color, 0.75);

// Footer Variables
$footer-link-color: $medium-gray;
$footer-link-hover-color: darken($footer-link-color, 10%);
