---
title: Sites Built Using Middleman
published: true
---

<% sg = {"title" => data.sites.built, "mobile" => data.sites.mobile, "blogs" => data.sites.blogs} %>
<% sg.each do |site_group, sites| %>
  <h1><%= t("built.#{site_group}") %></h1>
  <ul>
    <% for site in sort_sites(sites) %>
      <%= partial "layouts/site", locals: { site: site } %>
    <% end %>
  </ul>
<% end %>

<footer>
  <%= link_to t("built.fork"), "https://github.com/middleman/middleman-guides/blob/master/data/sites.yml" %>
</footer>
