---
layout: layout
---

<%= partial "partials/global_navigation" %>

<div class="wrap-container body-content-container">
  <h1>Thank You!</h1>

  <p>
    Your support is greatly appreciated and helps the team pay for the hosting of
    this documentation website, the forums and other related costs.
  </p>
</div>
