<svg class="vox-media-logo-svg" viewBox="0 0 1038.723 178.212" version="1.1" xmlns="http://www.w3.org/2000/svg" aria-labelledby="title" role="img">
  <title id="title">Vox Media Logo</title>
<g>
  <path fill="#4E4E50" d="M26.618,89.771l19.259,56.426l12.512-37.413c2.208-6.501,4.171-12.88,5.888-18.276h25.883l-25.76,63.172
    c-4.171,10.305-6.624,16.314-8.955,23.43l-19.381,1.104l-25.637-62.313C7.359,108.17,3.435,98.357,0,90.874L26.618,89.771z"/>
  <path fill="#4E4E50" d="M115.668,135.893c0-27.354,18.154-47.472,45.264-47.472c25.883,0,42.933,19.014,42.933,43.056
    c0,27.354-18.276,47.472-45.263,47.472C132.719,178.948,115.668,159.812,115.668,135.893z M179.945,134.053
    c0-16.438-8.342-26.496-19.995-26.496c-12.389,0-20.485,11.653-20.485,25.76c0,16.438,8.465,26.496,20.117,26.496
    C171.972,159.812,179.945,148.159,179.945,134.053z"/>
  <path fill="#4E4E50" d="M229.74,176.74l29.808-44.159l-11.653-17.051l-16.806-24.656l27.109-0.98l17.664,27.6l6.01-10.305
    c3.067-5.028,7.36-11.898,10.427-16.682h26.741l-28.458,42.688l10.549,15.455c4.907,7.36,13.248,20.117,18.646,28.091
    l-27.354,0.981l-18.154-29.317l-5.643,9.2c-2.699,4.538-8.587,13.983-11.898,19.136H229.74z"/>
  <path fill="#4E4E50" d="M403.915,147.178l3.68-27.109c1.104-7.851,3.066-23.306,3.558-29.808l18.645-0.858
    c2.208,4.784,5.275,11.898,7.851,17.419l15.947,35.45l15.578-36.063c2.33-5.275,5.151-11.776,7.114-16.561h18.154
    c0.859,7.115,2.821,22.448,3.926,30.421l3.803,27.109c1.104,7.974,3.557,23.184,4.906,29.562l-24.165,0.981
    c-0.245-3.558-1.35-13.861-2.085-18.646l-3.558-27.354c-6.011,15.088-16.683,41.707-18.277,45.877l-12.757,0.613l-18.522-45.386
    l-2.944,26.25c-0.613,4.784-1.472,14.229-1.594,17.664h-24.166C400.48,170.361,402.811,155.151,403.915,147.178z"/>
  <path fill="#4E4E50" d="M603.36,177.23c-8.096-0.49-18.154-0.613-27.722-0.613c-10.795,0-22.325,0.123-31.525,0.613
    c0.613-5.888,0.858-22.079,0.858-30.053v-27.109c0-7.851-0.245-24.41-0.858-30.298c8.955,0.368,18.646,0.613,29.808,0.613
    c10.059,0,19.504-0.245,27.845-0.613c-0.49,6.133-0.98,12.021-0.98,19.504c-6.257-0.123-12.513-0.245-19.995-0.245
    c-3.68,0-7.728,0-11.285,0.122c-0.245,1.718-0.245,4.294-0.245,5.521v9.445l26.741-0.123c-0.245,5.152-0.368,10.795-0.368,17.173
    H569.26v11.04c0,1.35,0,3.926,0.245,5.643c3.558,0,7.605,0.123,11.285,0.123c8.71,0,16.069-0.123,23.43-0.368
    C603.606,163.737,603.36,169.748,603.36,177.23z"/>
  <path fill="#4E4E50" d="M673.151,176.74h-32.261c0.613-5.888,0.858-21.589,0.858-29.562v-27.109c0-7.851-0.245-23.429-0.858-29.316
    c4.416,0,15.333-0.858,28.949-0.858c32.506,0,50.538,15.578,50.538,41.951C720.378,159.444,701.979,176.74,673.151,176.74z
     M672.661,108.538c-2.576,0-4.171,0.123-6.134,0.368c-0.122,1.595-0.122,4.171-0.122,5.52v38.149c0,1.472,0,3.312,0.122,5.152
    c1.963,0.245,3.435,0.367,6.379,0.367c16.314,0,23.429-10.794,23.429-25.269C696.335,117.37,687.381,108.538,672.661,108.538z"/>
  <path fill="#4E4E50" d="M757.416,176.74c0.613-5.888,0.858-21.589,0.858-29.562v-27.109c0-7.851-0.245-23.674-0.858-29.562
    c4.783,0,22.079-0.123,26.127-0.613c-0.367,3.557-0.49,13.37-0.49,18.154v51.028c0,4.661,0.123,14.229,0.49,17.664H757.416z"/>
  <path fill="#4E4E50" d="M843.768,113.936c4.293-10.182,7.114-16.56,9.445-23.429l19.749-1.227l26.864,62.313
    c3.188,7.605,7.851,17.541,11.285,25.146l-26.128,0.981l-6.624-16.438h-30.053c-1.595,4.048-5.152,13.738-5.889,15.456h-25.514
    L843.768,113.936z M853.336,146.074h19.749l-9.937-26.619L853.336,146.074z"/>
</g>
<polygon fill="#F5A11D" points="1039.064,24.384 1039.064,90.798 980.133,57.592 "/>
<polygon fill="#FEE954" points="921.198,24.384 921.198,90.798 980.129,57.592 "/>
<g>
  <polygon fill="#F37B21" points="980.133,57.586 980.133,124 1039.064,90.793  "/>
</g>
<polygon fill="#FFE504" points="980.129,57.586 980.129,124 921.199,90.793 "/>
<g opacity="0.79">
  <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="1001.5996" y1="93.8594" x2="981.9276" y2="60.5682">
    <stop  offset="0" style="stop-color:#F15C26"/>
    <stop  offset="0.2551" style="stop-color:#F58223;stop-opacity:0.6965"/>
    <stop  offset="0.6546" style="stop-color:#FDB518;stop-opacity:0.2212"/>
    <stop  offset="0.8405" style="stop-color:#FFCA0B;stop-opacity:0"/>
  </linearGradient>
  <polygon fill="url(#SVGID_1_)" points="980.133,57.586 980.133,124 1039.064,90.793   "/>
</g>
<linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="943.0635" y1="118.2021" x2="1005.8635" y2="28.9202">
  <stop  offset="0.195" style="stop-color:#FCB717"/>
  <stop  offset="0.3466" style="stop-color:#FEC212;stop-opacity:0.7652"/>
  <stop  offset="0.5351" style="stop-color:#FFC80D;stop-opacity:0.4732"/>
  <stop  offset="0.8405" style="stop-color:#FFCA0B;stop-opacity:0"/>
</linearGradient>
<polygon opacity="0.79" fill="url(#SVGID_2_)" points="980.129,57.586 980.129,124 921.199,90.793 "/>
<polygon fill="#F5A11D" points="1038.723,24.384 1038.723,90.75 979.834,57.568 "/>
<linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="1010.6357" y1="72.3652" x2="1048.9155" y2="5.2376">
  <stop  offset="0" style="stop-color:#F04E24"/>
  <stop  offset="0.0113" style="stop-color:#F15724;stop-opacity:0.9887"/>
  <stop  offset="0.0629" style="stop-color:#F47523;stop-opacity:0.9371"/>
  <stop  offset="0.1209" style="stop-color:#F68C21;stop-opacity:0.8791"/>
  <stop  offset="0.185" style="stop-color:#F99F1E;stop-opacity:0.815"/>
  <stop  offset="0.2574" style="stop-color:#FBAE1A;stop-opacity:0.7426"/>
  <stop  offset="0.3419" style="stop-color:#FEBB15;stop-opacity:0.6581"/>
  <stop  offset="0.4464" style="stop-color:#FFC410;stop-opacity:0.5536"/>
  <stop  offset="0.593" style="stop-color:#FFC80C;stop-opacity:0.407"/>
  <stop  offset="1" style="stop-color:#FFCA0B;stop-opacity:0"/>
</linearGradient>
<polygon opacity="0.2" fill="url(#SVGID_3_)" points="1039.044,24.408 1039.044,90.773 980.153,57.593 "/>
<polygon fill="#F9E796" points="920.939,24.384 920.939,90.75 979.83,57.568 "/>
<linearGradient id="SVGID_4_" gradientUnits="userSpaceOnUse" x1="949.8711" y1="73.2178" x2="911.8711" y2="3.5972">
  <stop  offset="0" style="stop-color:#F89F1F"/>
  <stop  offset="0.0878" style="stop-color:#FBAE1B;stop-opacity:0.9122"/>
  <stop  offset="0.1909" style="stop-color:#FDBB16;stop-opacity:0.8091"/>
  <stop  offset="0.3194" style="stop-color:#FFC311;stop-opacity:0.6806"/>
  <stop  offset="0.4996" style="stop-color:#FFC80D;stop-opacity:0.5004"/>
  <stop  offset="1" style="stop-color:#FFCA0B;stop-opacity:0"/>
</linearGradient>
<polygon opacity="0.2" fill="url(#SVGID_4_)" points="920.939,24.384 920.939,90.75 979.83,57.568 "/>
<g>
  <polygon fill="#F37B21" points="979.834,57.563 979.834,123.929 1038.723,90.745  "/>
</g>
<polygon fill="#FFE504" points="979.83,57.563 979.83,123.929 920.94,90.745 "/>
<g opacity="0.2">
  <linearGradient id="SVGID_5_" gradientUnits="userSpaceOnUse" x1="1001.2852" y1="93.8096" x2="981.6276" y2="60.5428">
    <stop  offset="0" style="stop-color:#F15C26"/>
    <stop  offset="0.2551" style="stop-color:#F58223;stop-opacity:0.6965"/>
    <stop  offset="0.6546" style="stop-color:#FDB518;stop-opacity:0.2212"/>
    <stop  offset="0.8405" style="stop-color:#FFCA0B;stop-opacity:0"/>
  </linearGradient>
  <polygon fill="url(#SVGID_5_)" points="979.834,57.563 979.834,123.929 1038.723,90.745   "/>
</g>
<linearGradient id="SVGID_6_" gradientUnits="userSpaceOnUse" x1="942.7891" y1="118.1348" x2="1005.5444" y2="28.9164">
  <stop  offset="0.195" style="stop-color:#FCB717"/>
  <stop  offset="0.3466" style="stop-color:#FEC212;stop-opacity:0.7652"/>
  <stop  offset="0.5351" style="stop-color:#FFC80D;stop-opacity:0.4732"/>
  <stop  offset="0.8405" style="stop-color:#FFCA0B;stop-opacity:0"/>
</linearGradient>
<polygon opacity="0.1" fill="url(#SVGID_6_)" points="979.83,57.563 979.83,123.929 920.94,90.745 "/>
</svg>
