---
title: "Community Extensions"
---

<h1>Community Extensions</h1>

<ul>
  <li>
    <a href="https://github.com/middleman/middleman-smusher">middleman-smusher</a>
    &mdash; Compress Images during Build
  </li>
  <li>
    <a href="https://github.com/matt-hh/middleman-jammit">middleman-jammit</a>
    &mdash; Use Jammit in Middleman
  </li>
  <li>
    <a href="https://github.com/follmann/middleman-favicon-maker">middleman-favicon-maker</a>
    &mdash; Generate favicon files in various sizes from a base image
  </li>
  <li>
    <a href="https://github.com/xunker/middleman-target">middleman-target</a>
    &mdash; Create and build source for separate build targets.
  </li>
  <li>
    <a href="https://github.com/karlfreeman/middleman-sync">middleman-sync</a>
    &mdash; Synchronizes assets between Middleman and S3.
  </li>
  <li>
    <a href="http://tvaughan.github.com/middleman-deploy/">middleman-deploy</a>
    &mdash; Deploy a middleman built site over rsync.
  </li>
</ul>

<footer>
  <%= link_to "Fork and add your extension on Github", "https://github.com/middleman/middleman-guides/blob/master/source/community-extensions.html.slim" %>
</footer>