---
title: "Community Extensions"
---

<h1>Community Extensions</h1>


<ul>
  <li>
    <a href="https://github.com/middleman/middleman-syntax">middleman-syntax</a>
    &mdash; Code syntax highlighting
  </li>
  <li>
    <a href="https://github.com/Linuus/middleman-rouge">middleman-rouge</a>
    &mdash; Code syntax highlighting using Rouge and Redcarpet
  </li>
  <li>
    <a href="https://github.com/middleman/middleman-smusher">middleman-smusher</a>
    &mdash; Compress Images during Build
  </li>
  <li>
    <a href="https://github.com/matt-hh/middleman-jammit">middleman-jammit</a>
    &mdash; Use Jammit in Middleman
  </li>
  <li>
    <a href="https://github.com/follmann/middleman-favicon-maker">middleman-favicon-maker</a>
    &mdash; Generate favicon files in various sizes from a base image
  </li>
  <li>
    <a href="https://github.com/xunker/middleman-target">middleman-target</a>
    &mdash; Create and build source for separate build targets.
  </li>
  <li>
    <a href="https://github.com/karlfreeman/middleman-sync">middleman-sync</a>
    &mdash; Synchronise your Middleman build to S3 and more.
  </li>
  <li>
    <a href="https://github.com/fredjean/middleman-s3_sync">middleman-s3_sync</a>
    &mdash; Tries really hard not to push files to S3 (but will gladly do it if it must).
  </li>
  <li>
    <a href="https://github.com/fredjean/middleman-s3_redirect">middleman-s3_redirect</a>
    &mdash; Configure S3 to redirect URLs to a new location.
  </li>
  <li>
    <a href="http://tvaughan.github.com/middleman-deploy/">middleman-deploy</a>
    &mdash; Deploy a Middleman built site over rsync.
  </li>
  <li>
    <a href="https://github.com/middleman/middleman-livereload">middleman-livereload</a>
    &mdash; Automatically refresh the browser when Middleman files change.
  </li>
  <li>
    <a href="https://github.com/yeah/middleman-svg-fallback">middleman-svg-fallback</a>
    &mdash; Generate nice JPEG and PNG files from any SVG files.
  </li>
  <li>
    <a href="https://github.com/fgrehm/middleman-blog-drafts">middleman-blog-drafts</a>
    &mdash; An addon for middleman-blog that simplifies draft posts creation and publishing.
  </li>
  <li>
    <a href="https://github.com/andrusha/middleman-cloudfront">middleman-cloudfront</a>
    &mdash; Invalidate CloudFront cache after your build was deployed to S3.
  </li>
  <li>
    <a href="https://github.com/neo/middleman-gh-pages">middleman-gh-pages</a>
    &mdash; Easy deployment of Middleman sites to Github Pages.
  </li>
  <li>
    <a href="https://github.com/qnyp/middleman-s3_metadata">middleman-s3_metadata</a>
    &mdash; Automates updating metadata (e.g. Content-Type) of specific AWS S3 object.
  </li>
  <li>
    <a href="https://github.com/mrship/middleman-jasmine">middleman-jasmine</a>
    &mdash; Adds the Jasmine runner into a middleman app under the /jasmine path. Support for sprockets.
  </li>
</ul>

<h2>Paid Extensions</h2>

<ul>
  <li>
    <a href="http://middleman-blog-editor.awardwinningfjords.com">Middleman Blog Editor</a>
    &mdash; Blog management and <a href="http://en.wikipedia.org/wiki/WYSIWYG">WYSIWYG</a> posting.
  </li>
</ul>

<footer>
  <%= link_to "Fork and add your extension on Github", "https://github.com/middleman/middleman-guides/blob/master/source/community/3rd-party-extensions.html.erb" %>
</footer>
