---
title: "Community Project Templates"
---

<h1>Community Project Templates</h1>

<ul>
  <li>
    <a href="https://github.com/dannyprose/Middleman-HTML5BP-HAML">HTML5 Boilerplate: HAML & SCSS</a>
    &mdash; HTML5 Boilerplate 3.0 converted to HAML. <a href="http://susy.oddbird.net/">Susy</a> ready.
  </li>
  <li>
    <a href="https://github.com/nsteiner/middleman-smacss">Middleman-SMACSS</a>
    &mdash; SMACSS type starter template for Middleman
  </li>
</ul>

<footer>
  <%= link_to "Fork and add your project template on Github", "https://github.com/middleman/middleman-guides/blob/master/source/community/3rd-party-project-templates.html.erb" %>
</footer>