---
title: "Sites Built Using Middleman"
---

<h1>Sites Built Using Middleman</h1>

<ul>
  <li><a href="http://sass-lang.com" target="_blank">http://sass-lang.com</a></li>
  <li><a href="http://startexploding.com" target="_blank">http://startexploding.com</a></li>
  <li><a href="http://sassandcompass.com" target="_blank">http://sassandcompass.com</a></li>
  <li><a href="http://craftyblues.com" target="_blank">http://craftyblues.com</a></li>
  <li><a href="http://www.mandadream.com/" target="_blank">http://www.mandadream.com/</a></li>
  <li><a href="http://sidewalkland.com/" target="_blank">http://sidewalkland.com/</a></li>
  <li><a href="http://aktagon.com" target="_blank">http://aktagon.com</a></li>
  <li><a href="http://hyperipsum.se/" target="_blank">http://hyperipsum.se/</a></li>
  <li><a href="http://pixelunion.net/" target="_blank">http://pixelunion.net/</a></li>
  <li><a href="http://syrinxoon.net/" target="_blank">http://syrinxoon.net/</a></li>
  <li><a href="http://nathanleray.me" target="_blank">http://nathanleray.me</a></li>
  <li><a href="http://dbooom.com/themes/html/stronghold/" target="_blank">http://dbooom.com/themes/html/stronghold/</a></li>
  <li><a href="http://www.inkwellian.com/" target="_blank">http://www.inkwellian.com/</a></li>
  <li><a href="https://plan.io/" target="_blank">https://plan.io/</a></li>
  <li><a href="http://tactless.inkwellian.com/" target="_blank">http://tactless.inkwellian.com/</a></li>
  <li><a href="http://www.zoodotcom.com/" target="_blank">http://www.zoodotcom.com/</a></li>
  <li><a href="http://www.space150.com/" target="_blank">http://www.space150.com/</a></li>
  <li><a href="http://www.flotsam.nl/" target="_blank">http://www.flotsam.nl/</a></li>
  <li><a href="http://mongoid.org/" target="_blank">http://mongoid.org/</a></li>
  <li><a href="http://redbullmusicacademy.com/worldtour/" target="_blank">http://redbullmusicacademy.com/worldtour/</a></li>
  <li><a href="http://www.cedexis.com/" target="_blank">http://www.cedexis.com/</a></li>
  <li><a href="http://www.cassiegreer.com/" target="_blank">http://www.cassiegreer.com/</a></li>
  <li><a href="http://www.bigboulderconf.com/" target="_blank">http://www.bigboulderconf.com/</a></li>
  <li><a href="http://scottjurek.com/" target="_blank">http://www.scottjurek.com</a></li>
  <li><a href="http://plantednutrition.com/" target="_blank">http://plantednutrition.com/</a></li>
  <li><a href="http://sskb.umn.edu/" target="_blank">http://sskb.umn.edu/</a></li>
  <li><a href="https://www.findbigmail.com/" target="_blank">https://www.findbigmail.com/</a></li>
  <li><a href="http://susy.oddbird.com/" target="_blank">http://susy.oddbird.com/</a></li>
  <li><a href="http://sleede.com/" target="_blank">http://sleede.com/</a></li>
  <li><a href="http://www.cyclocane.com" target="_blank">http://www.cyclocane.com</a></li>
  <li><a href="http://merchantos.com" target="_blank">http://merchantos.com</a></li>
  <li><a href="http://karlfreeman.co.uk" target="_blank">http://karlfreeman.co.uk</a></li>
  <li><a href="http://metalabdesign.com" target="_blank">http://metalabdesign.com</a></li>
  <li><a href="http://getflow.com" target="_blank">http://getflow.com</a></li>
  <li><a href="http://alibosworth.com" target="_blank">http://alibosworth.com</a></li>
  <li><a href="http://2012.eurucamp.org" target="_blank">http://2012.eurucamp.org</a></li>
  <li><a href="http://jrubyconf.eu" target="_blank">http://jrubyconf.eu</a></li>
  <li><a href="http://voormedia.com/" target="_blank">http://voormedia.com</a></li>
  <li><a href="http://hotelpostalongarone.it/" target="_blank">http://hotelpostalongarone.it</a></li>
  <li><a href="http://happybeelab.com/" target="_blank">http://happybeelab.com</a></li>
  <li><a href="http://massgardinen.de/" target="_blank">http://massgardinen.de/</a></li>
  <li><a href="http://v25media.com/" target="_blank">http://v25media.com/</a></li>
  <li><a href="http://thirteen23.com/" target="_blank">http://thirteen23.com</a></li>
  <li><a href="http://hypervers.es/" target="_blank">http://hypervers.es</a></li>
  <li><a href="http://matthieu-keller.info/" target="_blank">http://matthieu-keller.info</a></li>
  <li><a href="http://davesdings.co.uk/" target="_blank">http://davesdings.co.uk</a></li>
  <li><a href="http://hyfn.com/" target="_blank">http://hyfn.com</a></li>
  <li><a href="http://www.heitzke.com/" target="_blank">http://www.heitzke.com</a></li>
  <li><a href="http://www.incubatebang.com/" target="_blank">http://www.incubatebang.com</a></li>
  <li><a href="http://www.cileos.com" target="_blank">http://www.cileos.com</a></li>
  <li><a href="http://euruko2013.org" target="_blank">http://euruko2013.org</a></li>
  <li><a href="http://kesseki.harahara.org" target="_blank">http://kesseki.harahara.org</a></li>
  <li><a href="http://mrcthms.com" target="_blank">http://mrcthms.com</a></li>
  <li><a href="http://rubycloud.com" target="_blank">http://rubycloud.com</a></li>
  <li><a href="http://getquaderno.com" target="_blank">http://getquaderno.com</a></li>
  <li><a href="http://converser.io" target="_blank">http://converser.io</a></li>
  <li><a href="http://davidanguita.name/en/" target="_blank">http://davidanguita.name</a> (<a href="https://github.com/danguita/davidanguita.name">source code</a>)</li>
  <li><a href="http://www.nyanstagram.com" target="_blank">http://www.nyanstagram.com</a></li>
  <li><a href="http://tarebyte.github.io" target="_blank">http://tarebyte.github.io</a></li>
  <li><a href="http://gilesthompson.co.nz" target="_blank">http://gilesthompson.co.nz</a></li>
  <li><a href="http://archiverapp.com" target="_blank">http://archiverapp.com</a></li>
  <li><a href="http://www.leinakanal-gotha.de/" target="_blank">http://www.leinakanal-gotha.de/</a></li>
  <li><a href="http://uandi.com/" target="_blank">http://uandi.com/</a></li>
  <li><a href="http://busyconf.com" target="_blank">http://busyconf.com</a></li>
  <li><a href="http://tsumego.tasuki.org" target="_blank">http://tsumego.tasuki.org</a> (<a href="https://github.com/tasuk/tsumego-web">source code</a>)</li>
  <li><a href="http://mailchimp.com" target="_blank">http://mailchimp.com</a></li>
  <li><a href="http://mandrill.com" target="_blank">http://mandrill.com</a></li>
  <li><a href="http://www.librario.de/" target="_blank">http://www.librario.de</a></li>
  <li><a href="http://www.madebytally.com/" target="_blank">http://www.madebytally.com</a></li>
  <li><a href="http://www.alpine-lab.com" target="_blank">http://www.alpine-lab.com</a></li>
  <li><a href="http://omegaverse.info" target="_blank">http://omegaverse.info</a> (frontend to the <a href="http://github.com/movitto/omega">Omega</a> simulation)</li>
</ul>

<h1>Mobile Apps Built Using Middleman</h1>
<ul>
  <li><a href="http://pollev.com/" target="_blank">http://pollev.com/</a></li>
</ul>

<h1>Blogs Using Middleman</h1>

<ul>
  <li><a href="http://awardwinningfjords.com/" target="_blank">http://awardwinningfjords.com/</a></li>
  <li><a href="http://blog.troutwine.us/" target="_blank">http://blog.troutwine.us/</a></li>
  <li><a href="http://blog.vanutsteen.nl/" target="_blank">http://blog.vanutsteen.nl</a> (<a href="https://github.com/LeonB/blog.vanutsteen.nl">source code</a>)</li>
  <li><a href="http://luebke-wohnen.de/" target="_blank">http://luebke-wohnen.de/</a></li>
  <li><a href="http://benhollis.net" target="_blank">http://benhollis.net</a></li>
  <li><a href="http://darrenknewton.com" target="_blank">http://darrenknewton.com</a></li>
  <li><a href="http://thirteen23.com/garage/" target="_blank">http://thirteen23.com/garage/</a></li>
  <li><a href="https://www.bionicspirit.com/" target="_blank">http://bionicspirit.com</a> (<a href="https://github.com/bionicspirit/bionicspirit.com">source code</a>)</li>
  <li><a href="http://mattolson.com/" target="_blank">http://mattolson.com</a></li>
  <li><a href="http://carl.hoyer.ca/" target="_blank">http://carl.hoyer.ca</a> (<a href="https://github.com/choyer/carl.hoyer.ca">source code</a>)</li>
  <li><a href="http://blog.startae.com.br/" target="_blank">http://blog.startae.com.br</a></li>
  <li><a href="http://www.mattonrails.com/" target="_blank">http://www.mattonrails.com</a></li>
  <li><a href="http://distresssignal.org" target="_blank">http://distresssignal.org</a></li>
  <li><a href="http://fredjean.net">http://fredjean.net</a></li>
  <li><a href="http://busyconf.com/blog/" target="_blank">http://busyconf.com/blog/</a></li>
  <li><a href="http://stevenosloan.com" target="_blank">http://stevenosloan.com</a></li>
  <li><a href="http://4pdj.nl/" target="_blank">http://4pdj.nl</a> (<a href="https://github.com/nathema/4pdj.nl">source code</a>)</li>
  <li><a href="http://Andrew.Kvalhe.im/" target="_blank">http://Andrew.Kvalhe.im/</a></li>
  <li><a href="http://epochwolf.com/" target="_blank">http://epochwolf.com</a></li>
  <li><a href="http://www.adevelopingstory.com" target="_blank">http://adevelopingstory.com</a></li>
  <li><a href="http://oli-g.me/" target="_blank">http://oli-g.me</a> (<a href="https://github.com/oli-g/oli-g.github.io/tree/source">source code</a>)</li>
  <li><a href="http://michaelboeke.com/" target="_blank">http://michaelboeke.com/</a></li>
  <li><a href="http://www.alpine-lab.com/blog" target="_blank">http://www.alpine-lab.com/blog</a></li>
  <li><a href="http://robots.thoughtbot.com" target="_blank">http://robots.thoughtbot.com</a></li>
  <li><a href="http://abhra.in/" target="_blank">http://abhra.in</li>
</ul>

<footer>
  <%= link_to "Fork and add your site on Github", "https://github.com/middleman/middleman-guides/blob/master/source/community/built-using-middleman.html.erb" %>
</footer>
