<h1>Sites Built Using Middleman</h1>

<ul>
  <li>http://pixelunion.net/</li>
  <li>http://syrinxoon.net/</li>
  <li>http://nathanleray.me</li>
  <li>http://dbooom.com/themes/html/stronghold/</li>
  <li>http://www.inkwellian.com/</li>
  <li>http://tactless.inkwellian.com/</li>
  <li>http://www.zoodotcom.com/</li>
  <li>http://www.space150.com/</li>
  <li>http://www.flotsam.nl/</li>
  <li>http://mongoid.org/</li>
  <li>http://redbullmusicacademy.com/worldtour/</li>
  <li>http://www.cedexis.com/</li>
  <li>http://www.cassiegreer.com/</li>
</ul>

<h1>Blogs Using Middleman</h1>

<ul>
  <li>http://awardwinningfjords.com/</li>
  <li>http://blog.troutwine.us/</li>
</ul>

<footer>
  <%= link_to "Fork and add your site on Github", "https://github.com/middleman/middleman-guides/blob/master/source/community/built-using-middleman.html.erb" %>
</footer>