---
title: "Deployment Solutions"
---

<h1>Deployment Solutions</h1>

<p>Middleman concerns itself only with creating static websites, however through extensions there are a variety of deployment solutions to aid putting your <code>/build</code> where it needs to go.</p>

<p>The highlighted extentions below allow <code>middleman build</code> to deploy using RSync, S3, Git, FTP, Github Pages, Heroku ( Statically ), Google Storage, Rackspace Storage, etc...</p>

<p>Please check out all <a href="/community/3rd-party-extensions/">Community Extensions</a></p>

<h3><a href="https://github.com/tvaughan/middleman-deploy" target="_blank">Middleman-Deploy</a></h3>
<p>Deploy a middleman built site over rsync or to github pages.</p>
<pre><code class="ruby"># Activate deploy extension
activate :deploy do |deploy|
  deploy.method = :ftp
  deploy.host = "ftp.example.com"
  deploy.user = "tvaughan"
  deploy.password = "secret"
  deploy.path = "/srv/www/site"
end
</code></pre>

<h3><a href="https://github.com/karlfreeman/middleman-sync" target="_blank">Middleman-Sync</a></h3>
<p>Synchronise your Middleman build to S3 and more</p>
<pre><code class="ruby"># Activate sync extension
activate :sync do |sync|
  sync.fog_provider = 'AWS'
  sync.fog_directory = 'bucket-name'
  sync.fog_region = 'bucket-region-name'
  sync.aws_access_key_id = 'super'
  sync.aws_secret_access_key = 'secret'
  sync.existing_remote_files = 'keep'
end
</code></pre>

<h3><a href="https://github.com/indirect/heroku-buildpack-middleman" target="_blank">Heroku buildpack: Middleman</a></h3>
<p>An Heroku buildpack for Middleman apps</p>

<footer>
  <%= link_to "Fork and add your extension on Github", "https://github.com/middleman/middleman-guides/blob/master/source/community/deployment-solutions.html.erb" %>
</footer>