RewriteEngine on

# Advanced
RewriteRule ^guides/dynamic-pages/?$ /advanced/dynamic-pages [R=301,L]
RewriteRule ^guides/frontend-optimization/?$ /advanced/frontend-optimization [R=301,L]
RewriteRule ^guides/pretty-urls/?$ /advanced/pretty-urls [R=301,L]
RewriteRule ^guides/rack-middleware/?$ /advanced/rack-middleware [R=301,L]
RewriteRule ^guides/speeding-up/?$ /advanced/speeding-up [R=301,L]
RewriteRule ^guides/localization/?$ /advanced/localization [R=301,L]

# Extensions
RewriteRule ^guides/blog/?$ /extensions/blog [R=301,L]
RewriteRule ^guides/extensions/?$ /extensions/custom [R=301,L]
RewriteRule ^guides/livereload/?$ /extensions/livereload [R=301,L]
RewriteRule ^guides/remote-api/?$ /extensions/remote-api [R=301,L]

# Getting Started
RewriteRule ^guides/getting-started/?$ /getting-started/welcome [R=301,L]

# Metadata
RewriteRule ^guides/individual-page-configuration/?$ /metadata/yaml-frontmatter [R=301,L]
RewriteRule ^guides/local-yaml-data/?$ /metadata/local-data [R=301,L]

# Templates
RewriteRule ^guides/coffeescript-sprockets/?$ /templates/coffeescript-sprockets [R=301,L]
RewriteRule ^guides/helpers/?$ /templates/helpers [R=301,L]
RewriteRule ^guides/sass-and-compass/?$ /templates/sass-and-compass [R=301,L]
RewriteRule ^guides/templates-layouts-partials/?$ /templates/templates-layouts-partials [R=301,L]

# Community
RewriteRule ^built-using-middleman/?$ /community/built-using-middleman [R=301,L]
RewriteRule ^community-extensions/?$ /community/3rd-party-extensions [R=301,L]