<div id="support">
  <div class="donate">
    <h4>Support Us</h4>
    <p><a href="https://spb.io/s/4dXbHBorC3" target="_blank" class="sbe-button">With a Donation</a></p>
  </div>

  <div class="sponsor">
    <h4>Sponsor</h4>
    <a href="http://fjords.cc" target="_blank">
      <%= image_tag "fjords.jpg" %>
      <span>Fjords: Simple Middleman Hosting &amp; Preview URLs</span>
    </a>
  </div>

  <!-- BuySellAds Zone Code -->
  <div id="bsap_1280677" class="bsarocks bsap_989fc05e297a314a92ad3f33cef85fd4"></div>
  <!-- End BuySellAds Zone Code -->
</div>