---
layout: home.erb
---

<div id="install">
  <p><b>gem install middleman</b></p>
</div>

<div id="frame" class="container">

<div class="tutorials">
  <% data.nav.each do |g| %>
    <div class="block">
      <h3><%= g.name %></h3>
      <p><%= g.desc %></p>
      <ul>
        <% pages_for_group(g.name).each_with_index do |p, i| %>
          <li><%= link_to p.title, p.path %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

</div>