markdown:
  # Welcome

  Welcome to the new, and still under-development, Middleman Guides documentation site. 

  This site provides documentation for Middleman version 2.0 and will look respectable in time for the big release.