---
layout: base.erb
---

<header id="hero">
  <h1><%= link_to "Middleman", "/", {class: 'logo'} %></h1>
  <h2>makes developing websites simple</h2>
</header>

<section role="main">
  <div id="install">
    <p><b>gem install middleman</b></p>
  </div>

  <div class="container">

    <p class="intro">Middleman is a static site generator using all the shortcuts and tools in modern web development. <%= link_to 'Getting started', 'getting-started/welcome' %>.</p>

    <nav class="grid">
      <%= partial 'layouts/nav' %>
    </nav>

  </div>  
</section>


