.browser {
  position: relative;
  text-align: left;
}

.browser:before {
  @include size(100% em(27));
  background: $browser-bar-color url("../images/browser-bar-button-set.svg") no-repeat 0.5em 0.5em;
  border-radius: $base-border-radius $base-border-radius 0 0;
  content: "";
  display: block;
}

.browser-body {
  background-color: $browser-body-color;
  font-weight: $font-weight-bold;
  margin: 0;
  padding: 1em;
}

.browser-code {
  background: $browser-body-color;
  margin: 0;
  padding: 0;
  display: block;

  .variable {
    color: #b58900;
  }

  .identifier {
    color: white;
  }
}

.browser-text-editor-sidebar {
  @include position(absolute, em(32) null 0 0);
  @include position(absolute, em(32) null 0 0);
  @include size(em(80) auto);
  background: lighten($browser-body-color, 10);

  @include media($medium-screen-up) {
    width: em(120);
  }
}

.browser-text-editor {
  @include position(absolute, em(27) null 0 0);
  @include size(100% 90%);
  background-image: image-url("text-editor.jpg");
  background-size: 100% 200px;
  background-repeat: no-repeat;

  @include media($medium-screen-up) {
    background-size: 100% 100%;
  }
}
