.browser {
  position: relative;
  text-align: left;
}

.browser:before {
  @include size(100% em(32));
  background: $browser-bar-color image-url("browser-bar-button-set.svg") no-repeat 0.66em 0.66em;
  border-radius: $base-border-radius $base-border-radius 0 0;
  content: "";
  display: block;
}

.browser-body {
  background: $browser-body-color;
  font-weight: $font-weight-bold;
  padding: 1em;
}

.browser-code {
  background: $browser-body-color;
  margin: 0;
  padding: 0;
}

.browser-text-editor-sidebar {
  @include position(absolute, em(32) null 0px 0px);
  @include size(em(80) auto);
  background: lighten($browser-body-color, 10);

  @include media($medium-screen-up) {
    width: em(120);
  }
}

.browser-text-editor {
  @include position(absolute, em(32) null 0px 0px);
  @include size(em(300) auto);
  background-image: image-url("text-editor.jpg");
  background-size: 300px 200px;

  @include media($medium-screen-up) {
    width: em(442);
    background-size: 442px 300px;
  }
}
