.built-with-middleman-block {
  margin-bottom: 4em;
}

.built-with-middleman-list {
  margin-top: 1em;
}

.built-with-middleman-list-item {
  display: block;
  border-bottom: 1px solid $base-border-color;
  height: 60px;
  line-height: 60px;
}

.built-with-middleman-link, .source-code-link {
  transition: all .2s linear;

  &:hover {
    background: lighten($mm-blue, 42);
  }
}

.built-with-middleman-link {
  border-bottom: none;
  display: inline;
  padding: 0;
  white-space: nowrap;

  &:hover {
    background: transparent;
    border-bottom: 1px dotted $base-border-color;
  }
}

.source-code-link {
  background: transparent;
  border-radius: $base-border-radius;
  border: 1px solid $base-border-color;
  color: lighten($medium-gray, 10);
  display: inline-block;
  float: right;
  font-size: $base-font-size * 0.75;
  font-weight: $font-weight-bold;
  line-height: 30px;
  margin: 15px auto 0;
  overflow: hidden;
  padding: 0 0.75em;
  text-transform: uppercase;
}
