.footer {
  background: $base-footer-color;
  color: $medium-gray;
  padding: 1em 0;

  @include media($medium-screen-up) {
    padding: 3em 0;
  }

  a {
    color: $footer-link-color;
    font-weight: $font-weight-bold;

    &:hover {
      color: $footer-link-hover-color;
    }
  }

  p {
    font-size: $base-font-size;
    margin: 0 auto 0.5em;
  }
}

.footer-column {
  @include media($medium-screen-up) {
    @include span-columns(6 of 12);
    @include omega(2n);
  }
}

.footer-column.footer-right {
  text-align: center;

  @include media($medium-screen-up) {
    text-align: right;
  }
}

.footer-site-information {
  margin-bottom: 1em;

  @include media($medium-screen-up) {
    margin-bottom: 2em;
  }

  p {
    margin-bottom: 0.25em;
  }
}

.footer-open-source-credit a {
  font-weight: $font-weight-normal;
  text-decoration: underline;
}

.footer-contact-list {
  @include fill-parent;
  @include clearfix;
}

.footer-contact-list-item {
  float: left;
  margin-right: 2em;

  &:last-child {
    margin-right: 0;
  }
}

.twitter-link {
  a {
    @include icon($twitter-icon);
  }
}

.github-link {
  a {
    @include icon($github-icon);
  }

}

.footer-credit {
  margin-top: 2em;
  margin-bottom: 0;

  @include media($medium-screen-up) {
    margin-top: 0;
  }
}

.footer-thoughtbot-logo {
  @include size(em(200) auto);
}
