.global-nav {
  height: $global-nav-height;
  transition: 0.3s ease all;
  background-color: $golden-yellow;
  margin-bottom: 2em;
  padding: 1em 0;
}

.global-nav.hidden {
  transform: translate(0, -($global-nav-height));
}

.global-nav.active {
  @include position(fixed, 0 0 null 0);
  box-shadow: 0 1px 1px 0px rgba(0,0,0,0.35);
  transform: translate(0, 0);
  z-index: 1;
}

.logo-text {
  float: left;
  font-size: $h5-font-size;
  font-weight: $font-weight-bold;
}

.global-nav-list {
  float: right;
  line-height: 2em;
}

.global-nav-item {
  display: inline-block;
  margin-right: 2em;

  a {
    color: $global-nav-link-color;

    &:hover {
      color: $global-nav-link-hover-color;
    }
  }
}

a.cta-link {
  border: 1px solid $global-nav-link-color;
  border-radius: $base-border-radius;
  padding: 0.35em 0.5em;

  &:hover {
    background: rgba(0,0,0, 0.2);
    color: white;
    transition: all 0.15s linear;
  }
}

.doc-item-active {
  border-left: 3px solid $saturated-blue;
}
