.wrap-container {
  @include outer-container;
  padding: 0 $gutter;
}

.centered-content {
  @include fill-parent;
  @include clearfix;
  text-align: center;
}

.body-content-container {
  padding-top: 4em;
  margin-bottom: 4em;
  position: relative;
}

.main {
  @include span-columns(8);
  @include shift(0.3);

  &.stuck {
    @include shift(3.3);
  }

  h1 {
    padding-bottom: 0.35em;
    margin-bottom: 0.35em;
  }
}

.built-with-middleman-link {
  border-bottom: 1px dotted $translucent-gray;
  display: block;
  padding: .75em;
}

.built-with-middleman-link, .source-code-link {
  transition: all .2s linear;

  &:hover {
    background: lighten($saturated-blue, 42);
  }
}

.source-code-link {
  background: $washed-out-gray;
  padding: 0.2em 0.75em;
  margin-bottom: 1em;
  display: inline-block;
}

hr {
  width: 75%;
  margin: 2em auto;

  @include media($medium-screen-up) {
    margin: 4em auto;
  }
}
